.vscode/**
.vscode-test/**
src/**
!src/LGEDVRuleGuide.md
!src/Misracpp2008Guidelines_High_en.md
!src/StaticGuidelines_High_en.md
!src/icon2.png
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
